[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord = "*"
aiohttp = "*"
psycopg2 = "*"
claptcha = "*"
numpy = "*"
PIL = "*"

[dev-packages]

[requires]
python_version = "3.9"
